# Ignorar dependencias de Node.js y Python
node_modules/
.env
__pycache__/
*.sqlite

# Ignorar configuraciones del sistema
.DS_Store
Thumbs.db
.vscode/
.idea/

# Ignorar archivos de construcción
dist/
build/
